.task {
  min-height: 80px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 15px;
  background-color: #FFF587;

  .title {
    text-align: left;
  }

  .description {
    text-align: left;
  }
}