.board-wrapper {
  background-color: #8a7f8a;
  border: 1px solid rgb(87, 87, 87);
  padding: 10px;

  .board {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30vw;
    height: 100%;
    padding: 10px;
    background-color: #ffc1ad;
    background-size: cover;
  }

  .board-title {
    margin-bottom: 40px;
  }

  .tasks-list {
    list-style: none;
    width: 90%;
  }


}

